################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/gui/.vs/PieterP.ScoreSheet
/src/gui/PdfSharp/bin
/src/gui/PdfSharp/obj
/src/gui/PieterP.ScoreSheet.GUI/bin
/src/gui/PieterP.ScoreSheet.GUI/obj
/src/gui/PieterP.ScoreSheet.Localization/bin
/src/gui/PieterP.ScoreSheet.Localization/obj
/src/gui/PieterP.ScoreSheet.Model/bin
/src/gui/PieterP.ScoreSheet.Model/obj
/src/gui/PieterP.ScoreSheet.Tests/bin
/src/gui/PieterP.ScoreSheet.Tests/obj
/src/gui/PieterP.ScoreSheet.ViewModels/bin
/src/gui/PieterP.ScoreSheet.ViewModels/obj
/src/installer/.vs/PieterP.ScoreSheet.Installer/v16
/src/installer/packages/ILMerge.3.0.29
/src/installer/PieterP.ScoreSheet.Installer/bin/Release
/src/installer/PieterP.ScoreSheet.Installer/obj
/src/launcher/.vs/PieterP.ScoreSheet.Launcher/v16
/src/launcher/packages
/src/launcher/PieterP.ScoreSheet.Launcher/bin/Debug
/src/launcher/PieterP.ScoreSheet.Launcher/obj/Release
/src/launcher/PieterP.ScoreSheet.Launcher/obj/Debug
/src/shared/.vs/PieterP.Shared
/src/shared/PieterP.ScoreSheet.Connector/bin
/src/shared/PieterP.ScoreSheet.Connector/obj
/src/shared/PieterP.Shared.Cells/bin
/src/shared/PieterP.Shared.Cells/obj
/src/shared/PieterP.Shared.Services/bin
/src/shared/PieterP.Shared.Services/obj
/src/publish
/src/installer/PieterP.ScoreSheet.Installer/bin/Debug
/src/gui/DebugProject/bin
/src/gui/DebugProject/obj
/src/gui/packages
